/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Bubble Styles */
.bubble {
    fill-opacity: 0.7;
    stroke-width: 1px;
    stroke: #fff;
    transition: fill-opacity 0.3s ease;
}

.bubble:hover {
    fill-opacity: 1;
    stroke-width: 2px;
}

/* Tooltip Styles */
.tooltip {
    position: absolute;
    padding: 8px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
    font-family: sans-serif;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Legend Styles */
.legend {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.legend rect {
    stroke: #ccc;
    stroke-width: 1px;
}

/* Timer Display */
.timer {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
}


.period {
    color: #888;
    font-style: italic;
    font-size: 11px;
    transform: rotate(0deg);
    align-items: center;
    /* margin-left: 15px; */
    white-space: nowrap;
}

.slider-container {
    position: absolute;
    left: 20px;
    top: 200px; /* Adjust based on your time display position */
    height: 400px;
    display: flex;
    align-items: center;
}

input[type="range"] {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    width: 8px;
    height: 55vh;
}

.time-markers {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    height: 300px;
    margin-left: 10px;
    transform: rotate(0deg);
}

.marker {
    font-size: 12px;
    color: #666;
}

